docker/sds/nifi/sds_auto_loader.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>a58e3a9a-0185-1000-2581-5a68574c9a22</groupId>
    <name>sds_auto_loader</name>
    <snippet>
        <processGroups>
            <id>ec60558f-3783-304c-0000-000000000000</id>
            <parentGroupId>01b85100-a1fe-329b-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>1e8e4243-8bbb-30b1-0000-000000000000</id>
                    <parentGroupId>ec60558f-3783-304c-0000-000000000000</parentGroupId>
                    <versionedComponentId>d93cab34-a850-33bd-b899-1dee84367af0</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>7f543e17-c1f0-3120-0000-000000000000</groupId>
                        <id>241895c2-44a9-3ce6-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                        <versionedComponentId>c8857a37-1879-396d-83ff-9b4120aea0f1</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>a9f733ce-4755-30e7-0000-000000000000</groupId>
                        <id>608c0037-56db-3d7f-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                        <versionedComponentId>26d7504d-644a-39df-aaea-73d69755474d</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>8151859d-8b03-3bd8-0000-000000000000</id>
                    <parentGroupId>ec60558f-3783-304c-0000-000000000000</parentGroupId>
                    <versionedComponentId>7a15bdb4-c325-3caa-ac8b-f14a5b9985f6</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>bae5854f-24d9-375e-0000-000000000000</groupId>
                        <id>90d33ad4-1024-3702-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                        <versionedComponentId>e75884f8-ec31-32a7-b877-8910b2a43347</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>7f543e17-c1f0-3120-0000-000000000000</groupId>
                        <id>37dc9fc5-75eb-35b5-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                        <versionedComponentId>6f62277d-2f8b-34d2-8d36-7a80320f5448</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>c0765630-9323-3aba-0000-000000000000</id>
                    <parentGroupId>ec60558f-3783-304c-0000-000000000000</parentGroupId>
                    <versionedComponentId>9fba7672-024d-3c27-8aa7-0d44324ab925</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>a9f733ce-4755-30e7-0000-000000000000</groupId>
                        <id>a2977f4c-b87e-3119-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                        <versionedComponentId>03c839c0-0f2e-36d4-9d63-8b5e3a023c03</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>3c976748-23ab-309d-0000-000000000000</groupId>
                        <id>bbf3aa15-2fe4-3098-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                        <versionedComponentId>da553ad9-2488-3259-bd43-e8dc4a261ded</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <processGroups>
                    <id>3c976748-23ab-309d-0000-000000000000</id>
                    <parentGroupId>ec60558f-3783-304c-0000-000000000000</parentGroupId>
                    <position>
                        <x>504.0</x>
                        <y>-104.0</y>
                    </position>
                    <versionedComponentId>6ad7d421-174b-3c80-9047-af80204a1499</versionedComponentId>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>3eed2268-5a9c-3524-0000-000000000000</id>
                            <parentGroupId>3c976748-23ab-309d-0000-000000000000</parentGroupId>
                            <versionedComponentId>f194ebe3-03eb-3623-ae73-ca292c8c8ffc</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>3c976748-23ab-309d-0000-000000000000</groupId>
<id>7a3b5303-67bc-39a1-0000-000000000000</id>
<type>FUNNEL</type>
<versionedComponentId>75e6c8ea-0680-3203-8be1-79f4237263a7</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>f338ad75-3046-3094-0000-000000000000</groupId>
<id>5b23c868-6115-38ca-0000-000000000000</id>
<type>OUTPUT_PORT</type>
<versionedComponentId>ea3a02e5-254f-3cf2-9ff5-737b0df5ddc1</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>516ac620-d294-3d20-0000-000000000000</id>
                            <parentGroupId>3c976748-23ab-309d-0000-000000000000</parentGroupId>
                            <versionedComponentId>54faf3f5-3a87-31e8-9d75-8f204f59e948</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>3c976748-23ab-309d-0000-000000000000</groupId>
<id>bbf3aa15-2fe4-3098-0000-000000000000</id>
<type>OUTPUT_PORT</type>
<versionedComponentId>da553ad9-2488-3259-bd43-e8dc4a261ded</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>3c976748-23ab-309d-0000-000000000000</groupId>
<id>7a3b5303-67bc-39a1-0000-000000000000</id>
<type>FUNNEL</type>
<versionedComponentId>75e6c8ea-0680-3203-8be1-79f4237263a7</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <funnels>
                            <id>7a3b5303-67bc-39a1-0000-000000000000</id>
                            <parentGroupId>3c976748-23ab-309d-0000-000000000000</parentGroupId>
                            <position>
<x>784.0</x>
<y>360.0</y>
                            </position>
                            <versionedComponentId>75e6c8ea-0680-3203-8be1-79f4237263a7</versionedComponentId>
                        </funnels>
                        <outputPorts>
                            <id>bbf3aa15-2fe4-3098-0000-000000000000</id>
                            <parentGroupId>3c976748-23ab-309d-0000-000000000000</parentGroupId>
                            <position>
<x>688.0</x>
<y>568.0</y>
                            </position>
                            <versionedComponentId>da553ad9-2488-3259-bd43-e8dc4a261ded</versionedComponentId>
                            <comments></comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>reciever_out</name>
                            <state>RUNNING</state>
                            <type>OUTPUT_PORT</type>
                        </outputPorts>
                        <processGroups>
                            <id>f338ad75-3046-3094-0000-000000000000</id>
                            <parentGroupId>3c976748-23ab-309d-0000-000000000000</parentGroupId>
                            <position>
<x>1040.0</x>
<y>-72.0</y>
                            </position>
                            <versionedComponentId>709f3fe1-aed6-30fc-88b7-347dc2568ade</versionedComponentId>
                            <comments></comments>
                            <contents>
<connections>
    <id>2d70e847-4558-3242-0000-000000000000</id>
    <parentGroupId>f338ad75-3046-3094-0000-000000000000</parentGroupId>
    <versionedComponentId>98aaf53c-7fca-387d-baf8-43311e7d5da1</versionedComponentId>
    <backPressureDataSizeThreshold>10 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>f338ad75-3046-3094-0000-000000000000</groupId>
        <id>5b23c868-6115-38ca-0000-000000000000</id>
        <type>OUTPUT_PORT</type>
        <versionedComponentId>ea3a02e5-254f-3cf2-9ff5-737b0df5ddc1</versionedComponentId>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <source>
        <groupId>f338ad75-3046-3094-0000-000000000000</groupId>
        <id>3ac337dc-aa48-37a1-0000-000000000000</id>
        <type>FUNNEL</type>
        <versionedComponentId>165008a7-cad1-3edc-b517-aef9dbac31cb</versionedComponentId>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>44008416-af04-35ed-0000-000000000000</id>
    <parentGroupId>f338ad75-3046-3094-0000-000000000000</parentGroupId>
    <versionedComponentId>4d870e28-24c3-32cf-bbc7-1331a22b9a4f</versionedComponentId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>f338ad75-3046-3094-0000-000000000000</groupId>
        <id>3ac337dc-aa48-37a1-0000-000000000000</id>
        <type>FUNNEL</type>
        <versionedComponentId>165008a7-cad1-3edc-b517-aef9dbac31cb</versionedComponentId>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <source>
        <groupId>e8920330-f5ef-3fa6-0000-000000000000</groupId>
        <id>0634a8dd-c4b0-3370-0000-000000000000</id>
        <type>OUTPUT_PORT</type>
        <versionedComponentId>deb5c217-3bbf-3f9b-b6ae-abcc92b2e3bc</versionedComponentId>
    </source>
    <zIndex>0</zIndex>
</connections>
<funnels>
    <id>3ac337dc-aa48-37a1-0000-000000000000</id>
    <parentGroupId>f338ad75-3046-3094-0000-000000000000</parentGroupId>
    <position>
        <x>1040.0</x>
        <y>216.0</y>
    </position>
    <versionedComponentId>165008a7-cad1-3edc-b517-aef9dbac31cb</versionedComponentId>
</funnels>
<outputPorts>
    <id>5b23c868-6115-38ca-0000-000000000000</id>
    <parentGroupId>f338ad75-3046-3094-0000-000000000000</parentGroupId>
    <position>
        <x>944.0</x>
        <y>392.0</y>
    </position>
    <versionedComponentId>ea3a02e5-254f-3cf2-9ff5-737b0df5ddc1</versionedComponentId>
    <comments></comments>
    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
    <name>batch_out</name>
    <state>RUNNING</state>
    <type>OUTPUT_PORT</type>
</outputPorts>
<processGroups>
    <id>e8920330-f5ef-3fa6-0000-000000000000</id>
    <parentGroupId>f338ad75-3046-3094-0000-000000000000</parentGroupId>
    <position>
        <x>256.0</x>
        <y>-160.0</y>
    </position>
    <versionedComponentId>9553d9f0-07d2-3ae4-9b4b-e319811a164f</versionedComponentId>
    <comments></comments>
    <contents>
        <outputPorts>
            <id>0634a8dd-c4b0-3370-0000-000000000000</id>
            <parentGroupId>e8920330-f5ef-3fa6-0000-000000000000</parentGroupId>
            <position>
                <x>1640.0</x>
                <y>1040.0</y>
            </position>
            <versionedComponentId>deb5c217-3bbf-3f9b-b6ae-abcc92b2e3bc</versionedComponentId>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <name>s3-out</name>
            <state>STOPPED</state>
            <type>OUTPUT_PORT</type>
            <validationErrors>'Port 's3-out'' is invalid because Port has no incoming connections</validationErrors>
        </outputPorts>
    </contents>
    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
    <name>S3</name>
    <variables/>
</processGroups>
                            </contents>
                            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                            <name>Batch</name>
                            <variables>
<entry>
    <key>s3</key>
    <value>s3</value>
</entry>
<entry>
    <key>azure</key>
    <value>azure</value>
</entry>
                            </variables>
                        </processGroups>
                    </contents>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>Reciever</name>
                    <variables>
                        <entry>
                            <key>singleline</key>
                            <value>singleline</value>
                        </entry>
                        <entry>
                            <key>multiline</key>
                            <value>multiline</value>
                        </entry>
                        <entry>
                            <key>avro</key>
                            <value>avro</value>
                        </entry>
                    </variables>
                </processGroups>
                <processGroups>
                    <id>7f543e17-c1f0-3120-0000-000000000000</id>
                    <parentGroupId>ec60558f-3783-304c-0000-000000000000</parentGroupId>
                    <position>
                        <x>1376.0</x>
                        <y>240.0</y>
                    </position>
                    <versionedComponentId>edcc10db-df3f-35ef-8b93-0aed4e98adec</versionedComponentId>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>3b4a0ddc-963a-3e24-0000-000000000000</id>
                            <parentGroupId>7f543e17-c1f0-3120-0000-000000000000</parentGroupId>
                            <versionedComponentId>7a8e3941-5ed4-3fae-9c34-93ee90fdab60</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>7f543e17-c1f0-3120-0000-000000000000</groupId>
<id>5a0f64c8-f88c-3866-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>08ee7b36-9674-3924-b9a9-ccc6659fb5e0</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>7f543e17-c1f0-3120-0000-000000000000</groupId>
<id>241895c2-44a9-3ce6-0000-000000000000</id>
<type>INPUT_PORT</type>
<versionedComponentId>c8857a37-1879-396d-83ff-9b4120aea0f1</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>976e2ef6-de72-30dc-0000-000000000000</id>
                            <parentGroupId>7f543e17-c1f0-3120-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>7f543e17-c1f0-3120-0000-000000000000</groupId>
<id>37dc9fc5-75eb-35b5-0000-000000000000</id>
<type>OUTPUT_PORT</type>
<versionedComponentId>6f62277d-2f8b-34d2-8d36-7a80320f5448</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>7f543e17-c1f0-3120-0000-000000000000</groupId>
<id>db4491ea-098c-369c-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>ac64ff3b-b9fe-30aa-9fd8-ce6b4be2309e</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>bd4de3de-84be-3d13-0000-000000000000</id>
                            <parentGroupId>7f543e17-c1f0-3120-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>7f543e17-c1f0-3120-0000-000000000000</groupId>
<id>db4491ea-098c-369c-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>ac64ff3b-b9fe-30aa-9fd8-ce6b4be2309e</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>7f543e17-c1f0-3120-0000-000000000000</groupId>
<id>5a0f64c8-f88c-3866-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>08ee7b36-9674-3924-b9a9-ccc6659fb5e0</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <controllerServices>
                            <id>134ad21d-6345-3f9a-0000-000000000000</id>
                            <parentGroupId>7f543e17-c1f0-3120-0000-000000000000</parentGroupId>
                            <versionedComponentId>0854b1ee-10e9-392d-86e3-65b11bcca235</versionedComponentId>
                            <bulletinLevel>WARN</bulletinLevel>
                            <bundle>
<artifact>nifi-record-serialization-services-nar</artifact>
<group>org.apache.nifi</group>
<version>1.17.0</version>
                            </bundle>
                            <comments></comments>
                            <descriptors>
<entry>
    <key>Text</key>
    <value>
        <name>Text</name>
    </value>
</entry>
<entry>
    <key>Character Set</key>
    <value>
        <name>Character Set</name>
    </value>
</entry>
                            </descriptors>
                            <name>FreeFormTextRecordSetWriter</name>
                            <persistsState>false</persistsState>
                            <properties>
<entry>
    <key>Text</key>
    <value>${index_time} ${uuid} ${index_time_year} ${payload}</value>
</entry>
<entry>
    <key>Character Set</key>
    <value>UTF-8</value>
</entry>
                            </properties>
                            <state>ENABLED</state>
                            <type>org.apache.nifi.text.FreeFormTextRecordSetWriter</type>
                        </controllerServices>
                        <controllerServices>
                            <id>805dac69-e010-376d-0000-000000000000</id>
                            <parentGroupId>7f543e17-c1f0-3120-0000-000000000000</parentGroupId>
                            <versionedComponentId>de6047fe-e7b0-313e-baf7-444637f67311</versionedComponentId>
                            <bulletinLevel>WARN</bulletinLevel>
                            <bundle>
<artifact>nifi-record-serialization-services-nar</artifact>
<group>org.apache.nifi</group>
<version>1.17.0</version>
                            </bundle>
                            <comments></comments>
                            <descriptors>
<entry>
    <key>schema-access-strategy</key>
    <value>
        <name>schema-access-strategy</name>
    </value>
</entry>
<entry>
    <key>schema-registry</key>
    <value>
        <dependencies>
            <dependentValues>confluent-encoded</dependentValues>
            <dependentValues>schema-name</dependentValues>
            <dependentValues>hwx-schema-ref-attributes</dependentValues>
            <dependentValues>hwx-content-encoded-schema</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
        <name>schema-registry</name>
    </value>
</entry>
<entry>
    <key>schema-name</key>
    <value>
        <dependencies>
            <dependentValues>schema-name</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-name</name>
    </value>
</entry>
<entry>
    <key>schema-version</key>
    <value>
        <dependencies>
            <dependentValues>schema-name</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-version</name>
    </value>
</entry>
<entry>
    <key>schema-branch</key>
    <value>
        <dependencies>
            <dependentValues>schema-name</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-branch</name>
    </value>
</entry>
<entry>
    <key>schema-text</key>
    <value>
        <dependencies>
            <dependentValues>schema-text-property</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-text</name>
    </value>
</entry>
<entry>
    <key>cache-size</key>
    <value>
        <name>cache-size</name>
    </value>
</entry>
                            </descriptors>
                            <name>AvroReader</name>
                            <persistsState>false</persistsState>
                            <properties>
<entry>
    <key>schema-access-strategy</key>
    <value>embedded-avro-schema</value>
</entry>
<entry>
    <key>schema-registry</key>
</entry>
<entry>
    <key>schema-name</key>
    <value>${schema.name}</value>
</entry>
<entry>
    <key>schema-version</key>
</entry>
<entry>
    <key>schema-branch</key>
</entry>
<entry>
    <key>schema-text</key>
    <value>${avro.schema}</value>
</entry>
<entry>
    <key>cache-size</key>
    <value>1000</value>
</entry>
                            </properties>
                            <state>ENABLED</state>
                            <type>org.apache.nifi.avro.AvroReader</type>
                        </controllerServices>
                        <inputPorts>
                            <id>241895c2-44a9-3ce6-0000-000000000000</id>
                            <parentGroupId>7f543e17-c1f0-3120-0000-000000000000</parentGroupId>
                            <position>
<x>632.0</x>
<y>-136.0</y>
                            </position>
                            <versionedComponentId>c8857a37-1879-396d-83ff-9b4120aea0f1</versionedComponentId>
                            <comments></comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>SDS-Data-Process-in</name>
                            <state>RUNNING</state>
                            <type>INPUT_PORT</type>
                        </inputPorts>
                        <outputPorts>
                            <id>37dc9fc5-75eb-35b5-0000-000000000000</id>
                            <parentGroupId>7f543e17-c1f0-3120-0000-000000000000</parentGroupId>
                            <position>
<x>1336.0</x>
<y>360.0</y>
                            </position>
                            <versionedComponentId>6f62277d-2f8b-34d2-8d36-7a80320f5448</versionedComponentId>
                            <comments></comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>DataProcess-Out</name>
                            <state>RUNNING</state>
                            <type>OUTPUT_PORT</type>
                        </outputPorts>
                        <processors>
                            <id>5a0f64c8-f88c-3866-0000-000000000000</id>
                            <parentGroupId>7f543e17-c1f0-3120-0000-000000000000</parentGroupId>
                            <position>
<x>1280.0</x>
<y>-200.0</y>
                            </position>
                            <versionedComponentId>08ee7b36-9674-3924-b9a9-ccc6659fb5e0</versionedComponentId>
                            <bundle>
<artifact>nifi-update-attribute-nar</artifact>
<group>org.apache.nifi</group>
<version>1.17.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Delete Attributes Expression</key>
        <value>
            <name>Delete Attributes Expression</name>
        </value>
    </entry>
    <entry>
        <key>Store State</key>
        <value>
            <name>Store State</name>
        </value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
        <value>
            <name>Stateful Variables Initial Value</name>
        </value>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>
            <name>canonical-value-lookup-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>ingested_timestamp</key>
        <value>
            <name>ingested_timestamp</name>
        </value>
    </entry>
    <entry>
        <key>ingested_timestamp_day</key>
        <value>
            <name>ingested_timestamp_day</name>
        </value>
    </entry>
    <entry>
        <key>ingested_timestamp_hour</key>
        <value>
            <name>ingested_timestamp_hour</name>
        </value>
    </entry>
    <entry>
        <key>ingested_timestamp_month</key>
        <value>
            <name>ingested_timestamp_month</name>
        </value>
    </entry>
    <entry>
        <key>ingested_timestamp_year</key>
        <value>
            <name>ingested_timestamp_year</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Delete Attributes Expression</key>
    </entry>
    <entry>
        <key>Store State</key>
        <value>Do not store state</value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>ingested_timestamp</key>
        <value>${now():toNumber()}</value>
    </entry>
    <entry>
        <key>ingested_timestamp_day</key>
        <value>${now():format('dd')}</value>
    </entry>
    <entry>
        <key>ingested_timestamp_hour</key>
        <value>${now():format('HH')}</value>
    </entry>
    <entry>
        <key>ingested_timestamp_month</key>
        <value>${now():format('MM')}</value>
    </entry>
    <entry>
        <key>ingested_timestamp_year</key>
        <value>${now():format('yyyy')}</value>
    </entry>
</properties>
<retryCount>0</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>UpdateAttribute</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                        </processors>
                        <processors>
                            <id>db4491ea-098c-369c-0000-000000000000</id>
                            <parentGroupId>7f543e17-c1f0-3120-0000-000000000000</parentGroupId>
                            <position>
<x>1272.0</x>
<y>40.0</y>
                            </position>
                            <versionedComponentId>ac64ff3b-b9fe-30aa-9fd8-ce6b4be2309e</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.17.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>record-reader</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
            <name>record-reader</name>
        </value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
            <name>record-writer</name>
        </value>
    </entry>
    <entry>
        <key>replacement-value-strategy</key>
        <value>
            <name>replacement-value-strategy</name>
        </value>
    </entry>
    <entry>
        <key>/ingested_timestamp</key>
        <value>
            <name>/ingested_timestamp</name>
        </value>
    </entry>
    <entry>
        <key>/uuid</key>
        <value>
            <name>/uuid</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>record-reader</key>
        <value>805dac69-e010-376d-0000-000000000000</value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>134ad21d-6345-3f9a-0000-000000000000</value>
    </entry>
    <entry>
        <key>replacement-value-strategy</key>
        <value>literal-value</value>
    </entry>
    <entry>
        <key>/ingested_timestamp</key>
        <value>${ingested_timestamp}</value>
    </entry>
    <entry>
        <key>/uuid</key>
        <value>${UUID()}</value>
    </entry>
</properties>
<retryCount>0</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>UpdateRecord</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.UpdateRecord</type>
                        </processors>
                    </contents>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>DataProcess</name>
                    <variables/>
                </processGroups>
                <processGroups>
                    <id>a9f733ce-4755-30e7-0000-000000000000</id>
                    <parentGroupId>ec60558f-3783-304c-0000-000000000000</parentGroupId>
                    <position>
                        <x>504.0</x>
                        <y>248.0</y>
                    </position>
                    <versionedComponentId>66bff639-6cef-369e-a7f0-49413b175d0b</versionedComponentId>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>0500f89f-089e-37d0-0000-000000000000</id>
                            <parentGroupId>a9f733ce-4755-30e7-0000-000000000000</parentGroupId>
                            <versionedComponentId>fd7512b3-bb2a-3baa-bfbe-08d71b4d32d8</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>a5ba0bb6-92ef-3336-0000-000000000000</groupId>
<id>139671a8-bd6d-3294-0000-000000000000</id>
<type>INPUT_PORT</type>
<versionedComponentId>1d6e13ba-4730-3758-b1eb-e2f5ed992ffd</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>multi-line</selectedRelationships>
                            <source>
<groupId>a9f733ce-4755-30e7-0000-000000000000</groupId>
<id>041f00ec-5b19-38ec-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>1e26d9bb-27eb-3b62-9d5f-881032b14357</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>294fd40d-c0db-3748-0000-000000000000</id>
                            <parentGroupId>a9f733ce-4755-30e7-0000-000000000000</parentGroupId>
                            <versionedComponentId>9d8f3d4e-56fc-3f08-a4f9-52c551a8b06a</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>a9f733ce-4755-30e7-0000-000000000000</groupId>
<id>608c0037-56db-3d7f-0000-000000000000</id>
<type>OUTPUT_PORT</type>
<versionedComponentId>26d7504d-644a-39df-aaea-73d69755474d</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>1be412bb-f352-3833-0000-000000000000</groupId>
<id>3a3aa82b-44bc-38f2-0000-000000000000</id>
<type>OUTPUT_PORT</type>
<versionedComponentId>8139cc2e-c2c1-3859-9604-4505d5974e40</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>3f392e49-5063-362d-0000-000000000000</id>
                            <parentGroupId>a9f733ce-4755-30e7-0000-000000000000</parentGroupId>
                            <versionedComponentId>d1a7de60-d9d1-3cde-8527-f6221fec7f6c</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>1be412bb-f352-3833-0000-000000000000</groupId>
<id>15f5d4f3-71cb-3fb6-0000-000000000000</id>
<type>INPUT_PORT</type>
<versionedComponentId>39c2255d-d33b-30b0-b31b-e6da8263ee42</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>single-line</selectedRelationships>
                            <source>
<groupId>a9f733ce-4755-30e7-0000-000000000000</groupId>
<id>041f00ec-5b19-38ec-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>1e26d9bb-27eb-3b62-9d5f-881032b14357</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>66dea8fd-bfff-3106-0000-000000000000</id>
                            <parentGroupId>a9f733ce-4755-30e7-0000-000000000000</parentGroupId>
                            <versionedComponentId>00197be1-cf79-38e3-b43c-035b3797a9dd</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>a9f733ce-4755-30e7-0000-000000000000</groupId>
<id>608c0037-56db-3d7f-0000-000000000000</id>
<type>OUTPUT_PORT</type>
<versionedComponentId>26d7504d-644a-39df-aaea-73d69755474d</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>a5ba0bb6-92ef-3336-0000-000000000000</groupId>
<id>971a20aa-c38e-31de-0000-000000000000</id>
<type>OUTPUT_PORT</type>
<versionedComponentId>4ad3725f-2e0f-3067-b6f5-4408a8a23623</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>d16538c3-5032-37fd-0000-000000000000</id>
                            <parentGroupId>a9f733ce-4755-30e7-0000-000000000000</parentGroupId>
                            <versionedComponentId>f41690b6-b7ec-360a-96e8-b9ca0f55d2a6</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>a9f733ce-4755-30e7-0000-000000000000</groupId>
<id>041f00ec-5b19-38ec-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>1e26d9bb-27eb-3b62-9d5f-881032b14357</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>a9f733ce-4755-30e7-0000-000000000000</groupId>
<id>a2977f4c-b87e-3119-0000-000000000000</id>
<type>INPUT_PORT</type>
<versionedComponentId>03c839c0-0f2e-36d4-9d63-8b5e3a023c03</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <controllerServices>
                            <id>3ab7beee-7238-3d3e-0000-000000000000</id>
                            <parentGroupId>a9f733ce-4755-30e7-0000-000000000000</parentGroupId>
                            <versionedComponentId>358e90d3-3bfd-3788-a031-95b9e51dfb06</versionedComponentId>
                            <bulletinLevel>WARN</bulletinLevel>
                            <bundle>
<artifact>nifi-record-serialization-services-nar</artifact>
<group>org.apache.nifi</group>
<version>1.17.0</version>
                            </bundle>
                            <comments></comments>
                            <descriptors>
<entry>
    <key>schema-access-strategy</key>
    <value>
        <name>schema-access-strategy</name>
    </value>
</entry>
<entry>
    <key>schema-registry</key>
    <value>
        <dependencies>
            <dependentValues>confluent-encoded</dependentValues>
            <dependentValues>schema-name</dependentValues>
            <dependentValues>hwx-schema-ref-attributes</dependentValues>
            <dependentValues>hwx-content-encoded-schema</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
        <name>schema-registry</name>
    </value>
</entry>
<entry>
    <key>schema-name</key>
    <value>
        <dependencies>
            <dependentValues>schema-name</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-name</name>
    </value>
</entry>
<entry>
    <key>schema-version</key>
    <value>
        <dependencies>
            <dependentValues>schema-name</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-version</name>
    </value>
</entry>
<entry>
    <key>schema-branch</key>
    <value>
        <dependencies>
            <dependentValues>schema-name</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-branch</name>
    </value>
</entry>
<entry>
    <key>schema-text</key>
    <value>
        <dependencies>
            <dependentValues>schema-text-property</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-text</name>
    </value>
</entry>
<entry>
    <key>Grok Pattern File</key>
    <value>
        <name>Grok Pattern File</name>
    </value>
</entry>
<entry>
    <key>Grok Expression</key>
    <value>
        <name>Grok Expression</name>
    </value>
</entry>
<entry>
    <key>no-match-behavior</key>
    <value>
        <name>no-match-behavior</name>
    </value>
</entry>
                            </descriptors>
                            <name>GrokReader-singleline</name>
                            <persistsState>false</persistsState>
                            <properties>
<entry>
    <key>schema-access-strategy</key>
    <value>string-fields-from-grok-expression</value>
</entry>
<entry>
    <key>schema-registry</key>
</entry>
<entry>
    <key>schema-name</key>
    <value>${schema.name}</value>
</entry>
<entry>
    <key>schema-version</key>
</entry>
<entry>
    <key>schema-branch</key>
</entry>
<entry>
    <key>schema-text</key>
    <value>${avro.schema}</value>
</entry>
<entry>
    <key>Grok Pattern File</key>
</entry>
<entry>
    <key>Grok Expression</key>
    <value>%{GREEDYDATA:payload}</value>
</entry>
<entry>
    <key>no-match-behavior</key>
    <value>append-to-previous-message</value>
</entry>
                            </properties>
                            <state>ENABLED</state>
                            <type>org.apache.nifi.grok.GrokReader</type>
                        </controllerServices>
                        <controllerServices>
                            <id>825714dc-9d78-33b4-0000-000000000000</id>
                            <parentGroupId>a9f733ce-4755-30e7-0000-000000000000</parentGroupId>
                            <versionedComponentId>af41f0ed-733b-3ac1-9e39-614ebb71554b</versionedComponentId>
                            <bulletinLevel>WARN</bulletinLevel>
                            <bundle>
<artifact>nifi-record-serialization-services-nar</artifact>
<group>org.apache.nifi</group>
<version>1.17.0</version>
                            </bundle>
                            <comments></comments>
                            <descriptors>
<entry>
    <key>Schema Write Strategy</key>
    <value>
        <name>Schema Write Strategy</name>
    </value>
</entry>
<entry>
    <key>schema-cache</key>
    <value>
        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
        <name>schema-cache</name>
    </value>
</entry>
<entry>
    <key>schema-protocol-version</key>
    <value>
        <dependencies>
            <dependentValues>hwx-schema-ref-attributes</dependentValues>
            <dependentValues>hwx-content-encoded-schema</dependentValues>
            <propertyName>Schema Write Strategy</propertyName>
        </dependencies>
        <name>schema-protocol-version</name>
    </value>
</entry>
<entry>
    <key>schema-access-strategy</key>
    <value>
        <name>schema-access-strategy</name>
    </value>
</entry>
<entry>
    <key>schema-registry</key>
    <value>
        <dependencies>
            <dependentValues>confluent-encoded</dependentValues>
            <dependentValues>schema-name</dependentValues>
            <dependentValues>hwx-schema-ref-attributes</dependentValues>
            <dependentValues>hwx-content-encoded-schema</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
        <name>schema-registry</name>
    </value>
</entry>
<entry>
    <key>schema-name</key>
    <value>
        <dependencies>
            <dependentValues>schema-name</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-name</name>
    </value>
</entry>
<entry>
    <key>schema-version</key>
    <value>
        <dependencies>
            <dependentValues>schema-name</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-version</name>
    </value>
</entry>
<entry>
    <key>schema-branch</key>
    <value>
        <dependencies>
            <dependentValues>schema-name</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-branch</name>
    </value>
</entry>
<entry>
    <key>schema-text</key>
    <value>
        <dependencies>
            <dependentValues>schema-text-property</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-text</name>
    </value>
</entry>
<entry>
    <key>compression-format</key>
    <value>
        <name>compression-format</name>
    </value>
</entry>
<entry>
    <key>cache-size</key>
    <value>
        <name>cache-size</name>
    </value>
</entry>
<entry>
    <key>encoder-pool-size</key>
    <value>
        <name>encoder-pool-size</name>
    </value>
</entry>
                            </descriptors>
                            <name>AvroRecordSetWriter</name>
                            <persistsState>false</persistsState>
                            <properties>
<entry>
    <key>Schema Write Strategy</key>
    <value>avro-embedded</value>
</entry>
<entry>
    <key>schema-cache</key>
</entry>
<entry>
    <key>schema-protocol-version</key>
    <value>1</value>
</entry>
<entry>
    <key>schema-access-strategy</key>
    <value>inherit-record-schema</value>
</entry>
<entry>
    <key>schema-registry</key>
</entry>
<entry>
    <key>schema-name</key>
    <value>${schema.name}</value>
</entry>
<entry>
    <key>schema-version</key>
</entry>
<entry>
    <key>schema-branch</key>
</entry>
<entry>
    <key>schema-text</key>
    <value>${avro.schema}</value>
</entry>
<entry>
    <key>compression-format</key>
    <value>SNAPPY</value>
</entry>
<entry>
    <key>cache-size</key>
    <value>1000</value>
</entry>
<entry>
    <key>encoder-pool-size</key>
    <value>32</value>
</entry>
                            </properties>
                            <state>ENABLED</state>
                            <type>org.apache.nifi.avro.AvroRecordSetWriter</type>
                        </controllerServices>
                        <controllerServices>
                            <id>f7250c6d-72e9-3104-0000-000000000000</id>
                            <parentGroupId>a9f733ce-4755-30e7-0000-000000000000</parentGroupId>
                            <versionedComponentId>cf1fddd1-e2f9-3e47-a164-082f6952ebfb</versionedComponentId>
                            <bulletinLevel>WARN</bulletinLevel>
                            <bundle>
<artifact>nifi-record-serialization-services-nar</artifact>
<group>org.apache.nifi</group>
<version>1.17.0</version>
                            </bundle>
                            <comments></comments>
                            <descriptors>
<entry>
    <key>schema-access-strategy</key>
    <value>
        <name>schema-access-strategy</name>
    </value>
</entry>
<entry>
    <key>schema-registry</key>
    <value>
        <dependencies>
            <dependentValues>confluent-encoded</dependentValues>
            <dependentValues>schema-name</dependentValues>
            <dependentValues>hwx-schema-ref-attributes</dependentValues>
            <dependentValues>hwx-content-encoded-schema</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
        <name>schema-registry</name>
    </value>
</entry>
<entry>
    <key>schema-name</key>
    <value>
        <dependencies>
            <dependentValues>schema-name</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-name</name>
    </value>
</entry>
<entry>
    <key>schema-version</key>
    <value>
        <dependencies>
            <dependentValues>schema-name</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-version</name>
    </value>
</entry>
<entry>
    <key>schema-branch</key>
    <value>
        <dependencies>
            <dependentValues>schema-name</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-branch</name>
    </value>
</entry>
<entry>
    <key>schema-text</key>
    <value>
        <dependencies>
            <dependentValues>schema-text-property</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-text</name>
    </value>
</entry>
<entry>
    <key>Grok Pattern File</key>
    <value>
        <name>Grok Pattern File</name>
    </value>
</entry>
<entry>
    <key>Grok Expression</key>
    <value>
        <name>Grok Expression</name>
    </value>
</entry>
<entry>
    <key>no-match-behavior</key>
    <value>
        <name>no-match-behavior</name>
    </value>
</entry>
                            </descriptors>
                            <name>GrokReader-multiline</name>
                            <persistsState>false</persistsState>
                            <properties>
<entry>
    <key>schema-access-strategy</key>
    <value>string-fields-from-grok-expression</value>
</entry>
<entry>
    <key>schema-registry</key>
</entry>
<entry>
    <key>schema-name</key>
    <value>${schema.name}</value>
</entry>
<entry>
    <key>schema-version</key>
</entry>
<entry>
    <key>schema-branch</key>
</entry>
<entry>
    <key>schema-text</key>
    <value>${avro.schema}</value>
</entry>
<entry>
    <key>Grok Pattern File</key>
</entry>
<entry>
    <key>Grok Expression</key>
    <value>(&lt;--Delimiter--&gt;)%{GREEDYDATA:payload}</value>
</entry>
<entry>
    <key>no-match-behavior</key>
    <value>append-to-previous-message</value>
</entry>
                            </properties>
                            <state>ENABLED</state>
                            <type>org.apache.nifi.grok.GrokReader</type>
                        </controllerServices>
                        <inputPorts>
                            <id>a2977f4c-b87e-3119-0000-000000000000</id>
                            <parentGroupId>a9f733ce-4755-30e7-0000-000000000000</parentGroupId>
                            <position>
<x>840.0</x>
<y>40.0</y>
                            </position>
                            <versionedComponentId>03c839c0-0f2e-36d4-9d63-8b5e3a023c03</versionedComponentId>
                            <comments></comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>filesize-in</name>
                            <state>RUNNING</state>
                            <type>INPUT_PORT</type>
                        </inputPorts>
                        <outputPorts>
                            <id>608c0037-56db-3d7f-0000-000000000000</id>
                            <parentGroupId>a9f733ce-4755-30e7-0000-000000000000</parentGroupId>
                            <position>
<x>800.0</x>
<y>784.0</y>
                            </position>
                            <versionedComponentId>26d7504d-644a-39df-aaea-73d69755474d</versionedComponentId>
                            <comments></comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>filesize-out</name>
                            <state>RUNNING</state>
                            <type>OUTPUT_PORT</type>
                        </outputPorts>
                        <processGroups>
                            <id>1be412bb-f352-3833-0000-000000000000</id>
                            <parentGroupId>a9f733ce-4755-30e7-0000-000000000000</parentGroupId>
                            <position>
<x>352.0</x>
<y>456.0</y>
                            </position>
                            <versionedComponentId>6dc97966-d632-30b7-a7ec-29a35c441dc5</versionedComponentId>
                            <comments></comments>
                            <contents>
<connections>
    <id>3f1b89e9-2f85-342f-0000-000000000000</id>
    <parentGroupId>1be412bb-f352-3833-0000-000000000000</parentGroupId>
    <versionedComponentId>3048d682-2a93-36f6-bea8-1f0105be540b</versionedComponentId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>1be412bb-f352-3833-0000-000000000000</groupId>
        <id>3a3aa82b-44bc-38f2-0000-000000000000</id>
        <type>OUTPUT_PORT</type>
        <versionedComponentId>8139cc2e-c2c1-3859-9604-4505d5974e40</versionedComponentId>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <selectedRelationships>merged</selectedRelationships>
    <source>
        <groupId>1be412bb-f352-3833-0000-000000000000</groupId>
        <id>8786a774-0a4f-381a-0000-000000000000</id>
        <type>PROCESSOR</type>
        <versionedComponentId>8ecc8dd4-b87d-315e-a338-273317eadc56</versionedComponentId>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>4d1591b3-72bc-332a-0000-000000000000</id>
    <parentGroupId>1be412bb-f352-3833-0000-000000000000</parentGroupId>
    <versionedComponentId>4fe87138-530c-3268-8571-cd69e5be379b</versionedComponentId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>1be412bb-f352-3833-0000-000000000000</groupId>
        <id>1b1393c6-5bac-39b6-0000-000000000000</id>
        <type>PROCESSOR</type>
        <versionedComponentId>0368d0b8-066a-3289-a518-30fad7247ac5</versionedComponentId>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <source>
        <groupId>1be412bb-f352-3833-0000-000000000000</groupId>
        <id>15f5d4f3-71cb-3fb6-0000-000000000000</id>
        <type>INPUT_PORT</type>
        <versionedComponentId>39c2255d-d33b-30b0-b31b-e6da8263ee42</versionedComponentId>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>6a401bf3-fe14-3942-0000-000000000000</id>
    <parentGroupId>1be412bb-f352-3833-0000-000000000000</parentGroupId>
    <versionedComponentId>497dfcb0-a292-36a0-8b32-2ec0fff7aa0e</versionedComponentId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>1be412bb-f352-3833-0000-000000000000</groupId>
        <id>3a3aa82b-44bc-38f2-0000-000000000000</id>
        <type>OUTPUT_PORT</type>
        <versionedComponentId>8139cc2e-c2c1-3859-9604-4505d5974e40</versionedComponentId>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <selectedRelationships>splits</selectedRelationships>
    <source>
        <groupId>1be412bb-f352-3833-0000-000000000000</groupId>
        <id>2e711c4f-c7ce-3af0-0000-000000000000</id>
        <type>PROCESSOR</type>
        <versionedComponentId>83e586cb-0e0f-3711-a573-09892d30648d</versionedComponentId>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>bb914370-8c10-3c72-0000-000000000000</id>
    <parentGroupId>1be412bb-f352-3833-0000-000000000000</parentGroupId>
    <versionedComponentId>9dd178ac-d444-3dfa-bbba-ddd22629b5b9</versionedComponentId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>1be412bb-f352-3833-0000-000000000000</groupId>
        <id>2e711c4f-c7ce-3af0-0000-000000000000</id>
        <type>PROCESSOR</type>
        <versionedComponentId>83e586cb-0e0f-3711-a573-09892d30648d</versionedComponentId>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <selectedRelationships>unmatched</selectedRelationships>
    <source>
        <groupId>1be412bb-f352-3833-0000-000000000000</groupId>
        <id>1b1393c6-5bac-39b6-0000-000000000000</id>
        <type>PROCESSOR</type>
        <versionedComponentId>0368d0b8-066a-3289-a518-30fad7247ac5</versionedComponentId>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>c31a148f-1712-3849-0000-000000000000</id>
    <parentGroupId>1be412bb-f352-3833-0000-000000000000</parentGroupId>
    <versionedComponentId>95912f73-6091-32a2-b6d9-f6dde78d0ff2</versionedComponentId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>1be412bb-f352-3833-0000-000000000000</groupId>
        <id>8786a774-0a4f-381a-0000-000000000000</id>
        <type>PROCESSOR</type>
        <versionedComponentId>8ecc8dd4-b87d-315e-a338-273317eadc56</versionedComponentId>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <selectedRelationships>smallsize</selectedRelationships>
    <source>
        <groupId>1be412bb-f352-3833-0000-000000000000</groupId>
        <id>1b1393c6-5bac-39b6-0000-000000000000</id>
        <type>PROCESSOR</type>
        <versionedComponentId>0368d0b8-066a-3289-a518-30fad7247ac5</versionedComponentId>
    </source>
    <zIndex>0</zIndex>
</connections>
<inputPorts>
    <id>15f5d4f3-71cb-3fb6-0000-000000000000</id>
    <parentGroupId>1be412bb-f352-3833-0000-000000000000</parentGroupId>
    <position>
        <x>720.0</x>
        <y>56.0</y>
    </position>
    <versionedComponentId>39c2255d-d33b-30b0-b31b-e6da8263ee42</versionedComponentId>
    <comments></comments>
    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
    <name>singleline-in</name>
    <state>RUNNING</state>
    <type>INPUT_PORT</type>
</inputPorts>
<outputPorts>
    <id>3a3aa82b-44bc-38f2-0000-000000000000</id>
    <parentGroupId>1be412bb-f352-3833-0000-000000000000</parentGroupId>
    <position>
        <x>728.0</x>
        <y>680.0</y>
    </position>
    <versionedComponentId>8139cc2e-c2c1-3859-9604-4505d5974e40</versionedComponentId>
    <comments></comments>
    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
    <name>singleline-out</name>
    <state>RUNNING</state>
    <type>OUTPUT_PORT</type>
</outputPorts>
<processors>
    <id>1b1393c6-5bac-39b6-0000-000000000000</id>
    <parentGroupId>1be412bb-f352-3833-0000-000000000000</parentGroupId>
    <position>
        <x>664.0</x>
        <y>184.0</y>
    </position>
    <versionedComponentId>0368d0b8-066a-3289-a518-30fad7247ac5</versionedComponentId>
    <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.17.0</version>
    </bundle>
    <config>
        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
            <entry>
                <key>Routing Strategy</key>
                <value>
                    <name>Routing Strategy</name>
                </value>
            </entry>
            <entry>
                <key>smallsize</key>
                <value>
                    <name>smallsize</name>
                </value>
            </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
            <entry>
                <key>Routing Strategy</key>
                <value>Route to Property name</value>
            </entry>
            <entry>
                <key>smallsize</key>
                <value>${fileSize:le(150000000):equals(true)}</value>
            </entry>
        </properties>
        <retryCount>0</retryCount>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
    </config>
    <executionNodeRestricted>false</executionNodeRestricted>
    <name>RouteOnAttribute</name>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>smallsize</name>
        <retry>false</retry>
    </relationships>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>unmatched</name>
        <retry>false</retry>
    </relationships>
    <state>RUNNING</state>
    <style/>
    <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
</processors>
<processors>
    <id>2e711c4f-c7ce-3af0-0000-000000000000</id>
    <parentGroupId>1be412bb-f352-3833-0000-000000000000</parentGroupId>
    <position>
        <x>1104.0</x>
        <y>424.0</y>
    </position>
    <versionedComponentId>83e586cb-0e0f-3711-a573-09892d30648d</versionedComponentId>
    <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.17.0</version>
    </bundle>
    <config>
        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
            <entry>
                <key>Record Reader</key>
                <value>
                    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                    <name>Record Reader</name>
                </value>
            </entry>
            <entry>
                <key>Record Writer</key>
                <value>
                    <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                    <name>Record Writer</name>
                </value>
            </entry>
            <entry>
                <key>Records Per Split</key>
                <value>
                    <name>Records Per Split</name>
                </value>
            </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
            <entry>
                <key>Record Reader</key>
                <value>3ab7beee-7238-3d3e-0000-000000000000</value>
            </entry>
            <entry>
                <key>Record Writer</key>
                <value>825714dc-9d78-33b4-0000-000000000000</value>
            </entry>
            <entry>
                <key>Records Per Split</key>
                <value>${split_record}</value>
            </entry>
        </properties>
        <retryCount>0</retryCount>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
    </config>
    <executionNodeRestricted>false</executionNodeRestricted>
    <name>SplitRecord</name>
    <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
        <retry>false</retry>
    </relationships>
    <relationships>
        <autoTerminate>true</autoTerminate>
        <name>original</name>
        <retry>false</retry>
    </relationships>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>splits</name>
        <retry>false</retry>
    </relationships>
    <state>RUNNING</state>
    <style/>
    <type>org.apache.nifi.processors.standard.SplitRecord</type>
</processors>
<processors>
    <id>8786a774-0a4f-381a-0000-000000000000</id>
    <parentGroupId>1be412bb-f352-3833-0000-000000000000</parentGroupId>
    <position>
        <x>336.0</x>
        <y>432.0</y>
    </position>
    <versionedComponentId>8ecc8dd4-b87d-315e-a338-273317eadc56</versionedComponentId>
    <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.17.0</version>
    </bundle>
    <config>
        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
            <entry>
                <key>record-reader</key>
                <value>
                    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                    <name>record-reader</name>
                </value>
            </entry>
            <entry>
                <key>record-writer</key>
                <value>
                    <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                    <name>record-writer</name>
                </value>
            </entry>
            <entry>
                <key>merge-strategy</key>
                <value>
                    <name>merge-strategy</name>
                </value>
            </entry>
            <entry>
                <key>correlation-attribute-name</key>
                <value>
                    <name>correlation-attribute-name</name>
                </value>
            </entry>
            <entry>
                <key>Attribute Strategy</key>
                <value>
                    <name>Attribute Strategy</name>
                </value>
            </entry>
            <entry>
                <key>min-records</key>
                <value>
                    <name>min-records</name>
                </value>
            </entry>
            <entry>
                <key>max-records</key>
                <value>
                    <name>max-records</name>
                </value>
            </entry>
            <entry>
                <key>min-bin-size</key>
                <value>
                    <name>min-bin-size</name>
                </value>
            </entry>
            <entry>
                <key>max-bin-size</key>
                <value>
                    <name>max-bin-size</name>
                </value>
            </entry>
            <entry>
                <key>max-bin-age</key>
                <value>
                    <name>max-bin-age</name>
                </value>
            </entry>
            <entry>
                <key>max.bin.count</key>
                <value>
                    <name>max.bin.count</name>
                </value>
            </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
            <entry>
                <key>record-reader</key>
                <value>3ab7beee-7238-3d3e-0000-000000000000</value>
            </entry>
            <entry>
                <key>record-writer</key>
                <value>825714dc-9d78-33b4-0000-000000000000</value>
            </entry>
            <entry>
                <key>merge-strategy</key>
                <value>Bin-Packing Algorithm</value>
            </entry>
            <entry>
                <key>correlation-attribute-name</key>
                <value>source_name</value>
            </entry>
            <entry>
                <key>Attribute Strategy</key>
                <value>Keep Only Common Attributes</value>
            </entry>
            <entry>
                <key>min-records</key>
                <value>${min_merge_record}</value>
            </entry>
            <entry>
                <key>max-records</key>
                <value>${max_merge_record}</value>
            </entry>
            <entry>
                <key>min-bin-size</key>
                <value>0 B</value>
            </entry>
            <entry>
                <key>max-bin-size</key>
            </entry>
            <entry>
                <key>max-bin-age</key>
                <value>4 sec</value>
            </entry>
            <entry>
                <key>max.bin.count</key>
                <value>10</value>
            </entry>
        </properties>
        <retryCount>0</retryCount>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
    </config>
    <executionNodeRestricted>false</executionNodeRestricted>
    <name>MergeRecord</name>
    <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
        <retry>false</retry>
    </relationships>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>merged</name>
        <retry>false</retry>
    </relationships>
    <relationships>
        <autoTerminate>true</autoTerminate>
        <name>original</name>
        <retry>false</retry>
    </relationships>
    <state>RUNNING</state>
    <style/>
    <type>org.apache.nifi.processors.standard.MergeRecord</type>
</processors>
                            </contents>
                            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                            <name>single-line</name>
                            <variables>
<entry>
    <key>min_merge_record</key>
    <value>503512</value>
</entry>
<entry>
    <key>max_merge_record</key>
    <value>503512</value>
</entry>
                            </variables>
                        </processGroups>
                        <processGroups>
                            <id>a5ba0bb6-92ef-3336-0000-000000000000</id>
                            <parentGroupId>a9f733ce-4755-30e7-0000-000000000000</parentGroupId>
                            <position>
<x>1136.0</x>
<y>456.0</y>
                            </position>
                            <versionedComponentId>3432e397-cfc3-343e-9882-873c646f72a3</versionedComponentId>
                            <comments></comments>
                            <contents>
<connections>
    <id>5ce9c2fb-7d07-32ec-0000-000000000000</id>
    <parentGroupId>a5ba0bb6-92ef-3336-0000-000000000000</parentGroupId>
    <versionedComponentId>a3423fbc-3964-311a-812d-633fc496d8c8</versionedComponentId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>a5ba0bb6-92ef-3336-0000-000000000000</groupId>
        <id>0e282ba7-49f3-3364-0000-000000000000</id>
        <type>PROCESSOR</type>
        <versionedComponentId>c2f82ef4-7b55-3c0c-bcc4-80ac8a2c22ca</versionedComponentId>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <selectedRelationships>unmatched</selectedRelationships>
    <source>
        <groupId>a5ba0bb6-92ef-3336-0000-000000000000</groupId>
        <id>5f5cc369-106b-34f6-0000-000000000000</id>
        <type>PROCESSOR</type>
        <versionedComponentId>c21e8982-c5f4-3832-9416-2ef495ed16a6</versionedComponentId>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>923db9af-154c-368a-0000-000000000000</id>
    <parentGroupId>a5ba0bb6-92ef-3336-0000-000000000000</parentGroupId>
    <versionedComponentId>d275496e-5ce9-3260-972f-a34ad4591a32</versionedComponentId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>a5ba0bb6-92ef-3336-0000-000000000000</groupId>
        <id>971a20aa-c38e-31de-0000-000000000000</id>
        <type>OUTPUT_PORT</type>
        <versionedComponentId>4ad3725f-2e0f-3067-b6f5-4408a8a23623</versionedComponentId>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <selectedRelationships>merged</selectedRelationships>
    <source>
        <groupId>a5ba0bb6-92ef-3336-0000-000000000000</groupId>
        <id>0cbdb848-dfb1-3820-0000-000000000000</id>
        <type>PROCESSOR</type>
        <versionedComponentId>3531692b-279c-30af-88df-5d0fe056e8aa</versionedComponentId>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>a56131d9-d171-3e4d-0000-000000000000</id>
    <parentGroupId>a5ba0bb6-92ef-3336-0000-000000000000</parentGroupId>
    <versionedComponentId>f1d9fa7f-bfc8-350a-b31e-3bc57c685077</versionedComponentId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>a5ba0bb6-92ef-3336-0000-000000000000</groupId>
        <id>0cbdb848-dfb1-3820-0000-000000000000</id>
        <type>PROCESSOR</type>
        <versionedComponentId>3531692b-279c-30af-88df-5d0fe056e8aa</versionedComponentId>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <selectedRelationships>smallsize</selectedRelationships>
    <source>
        <groupId>a5ba0bb6-92ef-3336-0000-000000000000</groupId>
        <id>5f5cc369-106b-34f6-0000-000000000000</id>
        <type>PROCESSOR</type>
        <versionedComponentId>c21e8982-c5f4-3832-9416-2ef495ed16a6</versionedComponentId>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>c72a3beb-0baa-305f-0000-000000000000</id>
    <parentGroupId>a5ba0bb6-92ef-3336-0000-000000000000</parentGroupId>
    <versionedComponentId>bf7bb2bf-211e-3d72-8bea-76313d1aa8a3</versionedComponentId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>a5ba0bb6-92ef-3336-0000-000000000000</groupId>
        <id>5f5cc369-106b-34f6-0000-000000000000</id>
        <type>PROCESSOR</type>
        <versionedComponentId>c21e8982-c5f4-3832-9416-2ef495ed16a6</versionedComponentId>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <source>
        <groupId>a5ba0bb6-92ef-3336-0000-000000000000</groupId>
        <id>139671a8-bd6d-3294-0000-000000000000</id>
        <type>INPUT_PORT</type>
        <versionedComponentId>1d6e13ba-4730-3758-b1eb-e2f5ed992ffd</versionedComponentId>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>e3b829ce-21af-34a4-0000-000000000000</id>
    <parentGroupId>a5ba0bb6-92ef-3336-0000-000000000000</parentGroupId>
    <versionedComponentId>34432b2a-9d44-334f-91fd-cf3a237dfd6e</versionedComponentId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>a5ba0bb6-92ef-3336-0000-000000000000</groupId>
        <id>971a20aa-c38e-31de-0000-000000000000</id>
        <type>OUTPUT_PORT</type>
        <versionedComponentId>4ad3725f-2e0f-3067-b6f5-4408a8a23623</versionedComponentId>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <selectedRelationships>splits</selectedRelationships>
    <source>
        <groupId>a5ba0bb6-92ef-3336-0000-000000000000</groupId>
        <id>0e282ba7-49f3-3364-0000-000000000000</id>
        <type>PROCESSOR</type>
        <versionedComponentId>c2f82ef4-7b55-3c0c-bcc4-80ac8a2c22ca</versionedComponentId>
    </source>
    <zIndex>0</zIndex>
</connections>
<inputPorts>
    <id>139671a8-bd6d-3294-0000-000000000000</id>
    <parentGroupId>a5ba0bb6-92ef-3336-0000-000000000000</parentGroupId>
    <position>
        <x>704.0</x>
        <y>56.0</y>
    </position>
    <versionedComponentId>1d6e13ba-4730-3758-b1eb-e2f5ed992ffd</versionedComponentId>
    <comments></comments>
    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
    <name>multiline-in</name>
    <state>RUNNING</state>
    <type>INPUT_PORT</type>
</inputPorts>
<outputPorts>
    <id>971a20aa-c38e-31de-0000-000000000000</id>
    <parentGroupId>a5ba0bb6-92ef-3336-0000-000000000000</parentGroupId>
    <position>
        <x>728.0</x>
        <y>680.0</y>
    </position>
    <versionedComponentId>4ad3725f-2e0f-3067-b6f5-4408a8a23623</versionedComponentId>
    <comments></comments>
    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
    <name>multiline-out</name>
    <state>RUNNING</state>
    <type>OUTPUT_PORT</type>
</outputPorts>
<processors>
    <id>0cbdb848-dfb1-3820-0000-000000000000</id>
    <parentGroupId>a5ba0bb6-92ef-3336-0000-000000000000</parentGroupId>
    <position>
        <x>336.0</x>
        <y>432.0</y>
    </position>
    <versionedComponentId>3531692b-279c-30af-88df-5d0fe056e8aa</versionedComponentId>
    <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.17.0</version>
    </bundle>
    <config>
        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
            <entry>
                <key>record-reader</key>
                <value>
                    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                    <name>record-reader</name>
                </value>
            </entry>
            <entry>
                <key>record-writer</key>
                <value>
                    <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                    <name>record-writer</name>
                </value>
            </entry>
            <entry>
                <key>merge-strategy</key>
                <value>
                    <name>merge-strategy</name>
                </value>
            </entry>
            <entry>
                <key>correlation-attribute-name</key>
                <value>
                    <name>correlation-attribute-name</name>
                </value>
            </entry>
            <entry>
                <key>Attribute Strategy</key>
                <value>
                    <name>Attribute Strategy</name>
                </value>
            </entry>
            <entry>
                <key>min-records</key>
                <value>
                    <name>min-records</name>
                </value>
            </entry>
            <entry>
                <key>max-records</key>
                <value>
                    <name>max-records</name>
                </value>
            </entry>
            <entry>
                <key>min-bin-size</key>
                <value>
                    <name>min-bin-size</name>
                </value>
            </entry>
            <entry>
                <key>max-bin-size</key>
                <value>
                    <name>max-bin-size</name>
                </value>
            </entry>
            <entry>
                <key>max-bin-age</key>
                <value>
                    <name>max-bin-age</name>
                </value>
            </entry>
            <entry>
                <key>max.bin.count</key>
                <value>
                    <name>max.bin.count</name>
                </value>
            </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
            <entry>
                <key>record-reader</key>
                <value>f7250c6d-72e9-3104-0000-000000000000</value>
            </entry>
            <entry>
                <key>record-writer</key>
                <value>825714dc-9d78-33b4-0000-000000000000</value>
            </entry>
            <entry>
                <key>merge-strategy</key>
                <value>Bin-Packing Algorithm</value>
            </entry>
            <entry>
                <key>correlation-attribute-name</key>
                <value>source_name</value>
            </entry>
            <entry>
                <key>Attribute Strategy</key>
                <value>Keep Only Common Attributes</value>
            </entry>
            <entry>
                <key>min-records</key>
                <value>${min_merge_record}</value>
            </entry>
            <entry>
                <key>max-records</key>
                <value>${max_merge_record}</value>
            </entry>
            <entry>
                <key>min-bin-size</key>
                <value>0 B</value>
            </entry>
            <entry>
                <key>max-bin-size</key>
            </entry>
            <entry>
                <key>max-bin-age</key>
                <value>4 sec</value>
            </entry>
            <entry>
                <key>max.bin.count</key>
                <value>10</value>
            </entry>
        </properties>
        <retryCount>0</retryCount>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
    </config>
    <executionNodeRestricted>false</executionNodeRestricted>
    <name>MergeRecord</name>
    <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
        <retry>false</retry>
    </relationships>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>merged</name>
        <retry>false</retry>
    </relationships>
    <relationships>
        <autoTerminate>true</autoTerminate>
        <name>original</name>
        <retry>false</retry>
    </relationships>
    <state>RUNNING</state>
    <style/>
    <type>org.apache.nifi.processors.standard.MergeRecord</type>
</processors>
<processors>
    <id>0e282ba7-49f3-3364-0000-000000000000</id>
    <parentGroupId>a5ba0bb6-92ef-3336-0000-000000000000</parentGroupId>
    <position>
        <x>1104.0</x>
        <y>424.0</y>
    </position>
    <versionedComponentId>c2f82ef4-7b55-3c0c-bcc4-80ac8a2c22ca</versionedComponentId>
    <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.17.0</version>
    </bundle>
    <config>
        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
            <entry>
                <key>Record Reader</key>
                <value>
                    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                    <name>Record Reader</name>
                </value>
            </entry>
            <entry>
                <key>Record Writer</key>
                <value>
                    <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                    <name>Record Writer</name>
                </value>
            </entry>
            <entry>
                <key>Records Per Split</key>
                <value>
                    <name>Records Per Split</name>
                </value>
            </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
            <entry>
                <key>Record Reader</key>
                <value>f7250c6d-72e9-3104-0000-000000000000</value>
            </entry>
            <entry>
                <key>Record Writer</key>
                <value>825714dc-9d78-33b4-0000-000000000000</value>
            </entry>
            <entry>
                <key>Records Per Split</key>
                <value>${split_record}</value>
            </entry>
        </properties>
        <retryCount>0</retryCount>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
    </config>
    <executionNodeRestricted>false</executionNodeRestricted>
    <name>SplitRecord</name>
    <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
        <retry>false</retry>
    </relationships>
    <relationships>
        <autoTerminate>true</autoTerminate>
        <name>original</name>
        <retry>false</retry>
    </relationships>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>splits</name>
        <retry>false</retry>
    </relationships>
    <state>RUNNING</state>
    <style/>
    <type>org.apache.nifi.processors.standard.SplitRecord</type>
</processors>
<processors>
    <id>5f5cc369-106b-34f6-0000-000000000000</id>
    <parentGroupId>a5ba0bb6-92ef-3336-0000-000000000000</parentGroupId>
    <position>
        <x>664.0</x>
        <y>184.0</y>
    </position>
    <versionedComponentId>c21e8982-c5f4-3832-9416-2ef495ed16a6</versionedComponentId>
    <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.17.0</version>
    </bundle>
    <config>
        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
            <entry>
                <key>Routing Strategy</key>
                <value>
                    <name>Routing Strategy</name>
                </value>
            </entry>
            <entry>
                <key>smallsize</key>
                <value>
                    <name>smallsize</name>
                </value>
            </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
            <entry>
                <key>Routing Strategy</key>
                <value>Route to Property name</value>
            </entry>
            <entry>
                <key>smallsize</key>
                <value>${fileSize:le(150000000):equals(true)}</value>
            </entry>
        </properties>
        <retryCount>0</retryCount>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
    </config>
    <executionNodeRestricted>false</executionNodeRestricted>
    <name>RouteOnAttribute</name>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>smallsize</name>
        <retry>false</retry>
    </relationships>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>unmatched</name>
        <retry>false</retry>
    </relationships>
    <state>RUNNING</state>
    <style/>
    <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
</processors>
                            </contents>
                            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                            <name>multi-line</name>
                            <variables>
<entry>
    <key>min_merge_record</key>
    <value>503512</value>
</entry>
<entry>
    <key>max_merge_record</key>
    <value>503512</value>
</entry>
                            </variables>
                        </processGroups>
                        <processors>
                            <id>041f00ec-5b19-38ec-0000-000000000000</id>
                            <parentGroupId>a9f733ce-4755-30e7-0000-000000000000</parentGroupId>
                            <position>
<x>784.0</x>
<y>192.0</y>
                            </position>
                            <versionedComponentId>1e26d9bb-27eb-3b62-9d5f-881032b14357</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.17.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Routing Strategy</key>
        <value>
            <name>Routing Strategy</name>
        </value>
    </entry>
    <entry>
        <key>multi-line</key>
        <value>
            <name>multi-line</name>
        </value>
    </entry>
    <entry>
        <key>single-line</key>
        <value>
            <name>single-line</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Routing Strategy</key>
        <value>Route to Property name</value>
    </entry>
    <entry>
        <key>multi-line</key>
        <value>${data_type:equals('multiline')}</value>
    </entry>
    <entry>
        <key>single-line</key>
        <value>${data_type:equals('singleline')}</value>
    </entry>
</properties>
<retryCount>0</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>RouteOnAttribute</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>multi-line</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>single-line</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>unmatched</name>
<retry>false</retry>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
                        </processors>
                    </contents>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>FileSizeRouting</name>
                    <variables/>
                </processGroups>
                <processGroups>
                    <id>bae5854f-24d9-375e-0000-000000000000</id>
                    <parentGroupId>ec60558f-3783-304c-0000-000000000000</parentGroupId>
                    <position>
                        <x>1368.0</x>
                        <y>-104.0</y>
                    </position>
                    <versionedComponentId>9026b32a-aeca-3a18-abd2-99a43204b3ce</versionedComponentId>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>5f7c72de-a504-381f-0000-000000000000</id>
                            <parentGroupId>bae5854f-24d9-375e-0000-000000000000</parentGroupId>
                            <versionedComponentId>a40b7c55-2d0f-3dca-938e-798d20d53765</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>bae5854f-24d9-375e-0000-000000000000</groupId>
<id>39b7d89e-6dd0-305f-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>d43266ce-536c-3d8a-8609-f3fac3a49f8c</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>bae5854f-24d9-375e-0000-000000000000</groupId>
<id>90d33ad4-1024-3702-0000-000000000000</id>
<type>INPUT_PORT</type>
<versionedComponentId>e75884f8-ec31-32a7-b877-8910b2a43347</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>724264b3-5676-3b45-0000-000000000000</id>
                            <parentGroupId>bae5854f-24d9-375e-0000-000000000000</parentGroupId>
                            <versionedComponentId>a37a2b4a-7195-325d-a839-50d923ada1c6</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>0f48354f-5023-32ef-0000-000000000000</groupId>
<id>21f35adf-91c9-3e20-0000-000000000000</id>
<type>INPUT_PORT</type>
<versionedComponentId>80b88694-3871-3d6e-b1f2-5c2a93fbd75a</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>s3_output</selectedRelationships>
                            <source>
<groupId>bae5854f-24d9-375e-0000-000000000000</groupId>
<id>39b7d89e-6dd0-305f-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>d43266ce-536c-3d8a-8609-f3fac3a49f8c</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <inputPorts>
                            <id>90d33ad4-1024-3702-0000-000000000000</id>
                            <parentGroupId>bae5854f-24d9-375e-0000-000000000000</parentGroupId>
                            <position>
<x>1088.0</x>
<y>-48.0</y>
                            </position>
                            <versionedComponentId>e75884f8-ec31-32a7-b877-8910b2a43347</versionedComponentId>
                            <comments></comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>publisher_in</name>
                            <state>RUNNING</state>
                            <type>INPUT_PORT</type>
                        </inputPorts>
                        <processGroups>
                            <id>0f48354f-5023-32ef-0000-000000000000</id>
                            <parentGroupId>bae5854f-24d9-375e-0000-000000000000</parentGroupId>
                            <position>
<x>656.0</x>
<y>376.0</y>
                            </position>
                            <versionedComponentId>4a753ec6-063b-3157-8817-f41c4530f12c</versionedComponentId>
                            <comments></comments>
                            <contents>
<connections>
    <id>d64045ec-d832-3e7d-0000-000000000000</id>
    <parentGroupId>0f48354f-5023-32ef-0000-000000000000</parentGroupId>
    <versionedComponentId>260a53c4-e455-31af-adb0-ed43579a31ba</versionedComponentId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>0f48354f-5023-32ef-0000-000000000000</groupId>
        <id>7a9cb02b-b88c-3ce7-0000-000000000000</id>
        <type>PROCESSOR</type>
        <versionedComponentId>7f59fb20-0edd-3363-b8b5-7c5ce6fa05d3</versionedComponentId>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <source>
        <groupId>0f48354f-5023-32ef-0000-000000000000</groupId>
        <id>21f35adf-91c9-3e20-0000-000000000000</id>
        <type>INPUT_PORT</type>
        <versionedComponentId>80b88694-3871-3d6e-b1f2-5c2a93fbd75a</versionedComponentId>
    </source>
    <zIndex>0</zIndex>
</connections>
<inputPorts>
    <id>21f35adf-91c9-3e20-0000-000000000000</id>
    <parentGroupId>0f48354f-5023-32ef-0000-000000000000</parentGroupId>
    <position>
        <x>1512.0</x>
        <y>424.0</y>
    </position>
    <versionedComponentId>80b88694-3871-3d6e-b1f2-5c2a93fbd75a</versionedComponentId>
    <comments></comments>
    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
    <name>s3-input</name>
    <state>RUNNING</state>
    <type>INPUT_PORT</type>
</inputPorts>
<processors>
    <id>7a9cb02b-b88c-3ce7-0000-000000000000</id>
    <parentGroupId>0f48354f-5023-32ef-0000-000000000000</parentGroupId>
    <position>
        <x>1456.0</x>
        <y>608.0</y>
    </position>
    <versionedComponentId>7f59fb20-0edd-3363-b8b5-7c5ce6fa05d3</versionedComponentId>
    <bundle>
        <artifact>nifi-aws-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.17.0</version>
    </bundle>
    <config>
        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
            <entry>
                <key>Object Key</key>
                <value>
                    <name>Object Key</name>
                </value>
            </entry>
            <entry>
                <key>Bucket</key>
                <value>
                    <name>Bucket</name>
                </value>
            </entry>
            <entry>
                <key>Content Type</key>
                <value>
                    <name>Content Type</name>
                </value>
            </entry>
            <entry>
                <key>Content Disposition</key>
                <value>
                    <name>Content Disposition</name>
                </value>
            </entry>
            <entry>
                <key>Cache Control</key>
                <value>
                    <name>Cache Control</name>
                </value>
            </entry>
            <entry>
                <key>Access Key</key>
                <value>
                    <name>Access Key</name>
                </value>
            </entry>
            <entry>
                <key>Secret Key</key>
                <value>
                    <name>Secret Key</name>
                </value>
            </entry>
            <entry>
                <key>Credentials File</key>
                <value>
                    <name>Credentials File</name>
                </value>
            </entry>
            <entry>
                <key>AWS Credentials Provider service</key>
                <value>
                    <identifiesControllerService>org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService</identifiesControllerService>
                    <name>AWS Credentials Provider service</name>
                </value>
            </entry>
            <entry>
                <key>s3-object-tags-prefix</key>
                <value>
                    <name>s3-object-tags-prefix</name>
                </value>
            </entry>
            <entry>
                <key>s3-object-remove-tags-prefix</key>
                <value>
                    <name>s3-object-remove-tags-prefix</name>
                </value>
            </entry>
            <entry>
                <key>Storage Class</key>
                <value>
                    <name>Storage Class</name>
                </value>
            </entry>
            <entry>
                <key>Region</key>
                <value>
                    <name>Region</name>
                </value>
            </entry>
            <entry>
                <key>Communications Timeout</key>
                <value>
                    <name>Communications Timeout</name>
                </value>
            </entry>
            <entry>
                <key>Expiration Time Rule</key>
                <value>
                    <name>Expiration Time Rule</name>
                </value>
            </entry>
            <entry>
                <key>FullControl User List</key>
                <value>
                    <name>FullControl User List</name>
                </value>
            </entry>
            <entry>
                <key>Read Permission User List</key>
                <value>
                    <name>Read Permission User List</name>
                </value>
            </entry>
            <entry>
                <key>Write Permission User List</key>
                <value>
                    <name>Write Permission User List</name>
                </value>
            </entry>
            <entry>
                <key>Read ACL User List</key>
                <value>
                    <name>Read ACL User List</name>
                </value>
            </entry>
            <entry>
                <key>Write ACL User List</key>
                <value>
                    <name>Write ACL User List</name>
                </value>
            </entry>
            <entry>
                <key>Owner</key>
                <value>
                    <name>Owner</name>
                </value>
            </entry>
            <entry>
                <key>canned-acl</key>
                <value>
                    <name>canned-acl</name>
                </value>
            </entry>
            <entry>
                <key>SSL Context Service</key>
                <value>
                    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                    <name>SSL Context Service</name>
                </value>
            </entry>
            <entry>
                <key>Endpoint Override URL</key>
                <value>
                    <name>Endpoint Override URL</name>
                </value>
            </entry>
            <entry>
                <key>Signer Override</key>
                <value>
                    <name>Signer Override</name>
                </value>
            </entry>
            <entry>
                <key>Multipart Threshold</key>
                <value>
                    <name>Multipart Threshold</name>
                </value>
            </entry>
            <entry>
                <key>Multipart Part Size</key>
                <value>
                    <name>Multipart Part Size</name>
                </value>
            </entry>
            <entry>
                <key>Multipart Upload AgeOff Interval</key>
                <value>
                    <name>Multipart Upload AgeOff Interval</name>
                </value>
            </entry>
            <entry>
                <key>Multipart Upload Max Age Threshold</key>
                <value>
                    <name>Multipart Upload Max Age Threshold</name>
                </value>
            </entry>
            <entry>
                <key>s3-temporary-directory-multipart</key>
                <value>
                    <name>s3-temporary-directory-multipart</name>
                </value>
            </entry>
            <entry>
                <key>server-side-encryption</key>
                <value>
                    <name>server-side-encryption</name>
                </value>
            </entry>
            <entry>
                <key>encryption-service</key>
                <value>
                    <identifiesControllerService>org.apache.nifi.processors.aws.s3.AmazonS3EncryptionService</identifiesControllerService>
                    <name>encryption-service</name>
                </value>
            </entry>
            <entry>
                <key>use-chunked-encoding</key>
                <value>
                    <name>use-chunked-encoding</name>
                </value>
            </entry>
            <entry>
                <key>use-path-style-access</key>
                <value>
                    <name>use-path-style-access</name>
                </value>
            </entry>
            <entry>
                <key>proxy-configuration-service</key>
                <value>
                    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
                    <name>proxy-configuration-service</name>
                </value>
            </entry>
            <entry>
                <key>Proxy Host</key>
                <value>
                    <name>Proxy Host</name>
                </value>
            </entry>
            <entry>
                <key>Proxy Host Port</key>
                <value>
                    <name>Proxy Host Port</name>
                </value>
            </entry>
            <entry>
                <key>proxy-user-name</key>
                <value>
                    <name>proxy-user-name</name>
                </value>
            </entry>
            <entry>
                <key>proxy-user-password</key>
                <value>
                    <name>proxy-user-password</name>
                </value>
            </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
            <entry>
                <key>Object Key</key>
                <value>${output_object_path:append(${path_delimiter:append(${source_name})}):append(${year:append(${ingested_timestamp_year})}):append(${month:append(${ingested_timestamp_month})}):append(${day:append(${ingested_timestamp_day})}):append(${hour:append(${ingested_timestamp_hour})}):append(${path_delimiter:append(${uuid})}):append(${file_type_delimiter:append(${data_output_format})})}</value>
            </entry>
            <entry>
                <key>Bucket</key>
                <value>${output_bucket}</value>
            </entry>
            <entry>
                <key>Content Type</key>
            </entry>
            <entry>
                <key>Content Disposition</key>
            </entry>
            <entry>
                <key>Cache Control</key>
            </entry>
            <entry>
                <key>Access Key</key>
            </entry>
            <entry>
                <key>Secret Key</key>
            </entry>
            <entry>
                <key>Credentials File</key>
                <value>/sds/nifi/s3.properties</value>
            </entry>
            <entry>
                <key>AWS Credentials Provider service</key>
            </entry>
            <entry>
                <key>s3-object-tags-prefix</key>
            </entry>
            <entry>
                <key>s3-object-remove-tags-prefix</key>
                <value>false</value>
            </entry>
            <entry>
                <key>Storage Class</key>
                <value>Standard</value>
            </entry>
            <entry>
                <key>Region</key>
                <value>us-east-2</value>
            </entry>
            <entry>
                <key>Communications Timeout</key>
                <value>30 secs</value>
            </entry>
            <entry>
                <key>Expiration Time Rule</key>
            </entry>
            <entry>
                <key>FullControl User List</key>
                <value>${s3.permissions.full.users}</value>
            </entry>
            <entry>
                <key>Read Permission User List</key>
                <value>${s3.permissions.read.users}</value>
            </entry>
            <entry>
                <key>Write Permission User List</key>
                <value>${s3.permissions.write.users}</value>
            </entry>
            <entry>
                <key>Read ACL User List</key>
                <value>${s3.permissions.readacl.users}</value>
            </entry>
            <entry>
                <key>Write ACL User List</key>
                <value>${s3.permissions.writeacl.users}</value>
            </entry>
            <entry>
                <key>Owner</key>
                <value>${s3.owner}</value>
            </entry>
            <entry>
                <key>canned-acl</key>
                <value>${s3.permissions.cannedacl}</value>
            </entry>
            <entry>
                <key>SSL Context Service</key>
            </entry>
            <entry>
                <key>Endpoint Override URL</key>
                <value>http://minio:9000</value>
            </entry>
            <entry>
                <key>Signer Override</key>
                <value>Default Signature</value>
            </entry>
            <entry>
                <key>Multipart Threshold</key>
                <value>5 GB</value>
            </entry>
            <entry>
                <key>Multipart Part Size</key>
                <value>5 GB</value>
            </entry>
            <entry>
                <key>Multipart Upload AgeOff Interval</key>
                <value>60 min</value>
            </entry>
            <entry>
                <key>Multipart Upload Max Age Threshold</key>
                <value>7 days</value>
            </entry>
            <entry>
                <key>s3-temporary-directory-multipart</key>
                <value>${java.io.tmpdir}</value>
            </entry>
            <entry>
                <key>server-side-encryption</key>
                <value>None</value>
            </entry>
            <entry>
                <key>encryption-service</key>
            </entry>
            <entry>
                <key>use-chunked-encoding</key>
                <value>true</value>
            </entry>
            <entry>
                <key>use-path-style-access</key>
                <value>false</value>
            </entry>
            <entry>
                <key>proxy-configuration-service</key>
            </entry>
            <entry>
                <key>Proxy Host</key>
            </entry>
            <entry>
                <key>Proxy Host Port</key>
            </entry>
            <entry>
                <key>proxy-user-name</key>
            </entry>
            <entry>
                <key>proxy-user-password</key>
            </entry>
        </properties>
        <retryCount>0</retryCount>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
    </config>
    <executionNodeRestricted>false</executionNodeRestricted>
    <name>PutS3Object</name>
    <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
        <retry>false</retry>
    </relationships>
    <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
        <retry>false</retry>
    </relationships>
    <state>RUNNING</state>
    <style/>
    <type>org.apache.nifi.processors.aws.s3.PutS3Object</type>
</processors>
                            </contents>
                            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                            <name>s3</name>
                            <variables/>
                        </processGroups>
                        <processors>
                            <id>39b7d89e-6dd0-305f-0000-000000000000</id>
                            <parentGroupId>bae5854f-24d9-375e-0000-000000000000</parentGroupId>
                            <position>
<x>1032.0</x>
<y>80.0</y>
                            </position>
                            <versionedComponentId>d43266ce-536c-3d8a-8609-f3fac3a49f8c</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.17.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Routing Strategy</key>
        <value>
            <name>Routing Strategy</name>
        </value>
    </entry>
    <entry>
        <key>s3_output</key>
        <value>
            <name>s3_output</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Routing Strategy</key>
        <value>Route to Property name</value>
    </entry>
    <entry>
        <key>s3_output</key>
        <value>${output_storage:equals('s3')}</value>
    </entry>
</properties>
<retryCount>0</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>RouteOnAttribute</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>s3_output</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>unmatched</name>
<retry>false</retry>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
                        </processors>
                    </contents>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>Publisher</name>
                    <variables>
                        <entry>
                            <key>month</key>
                            <value>/month=</value>
                        </entry>
                        <entry>
                            <key>hour</key>
                            <value>/hour=</value>
                        </entry>
                        <entry>
                            <key>output_bucket</key>
                            <value>warehouse</value>
                        </entry>
                        <entry>
                            <key>year</key>
                            <value>/year=</value>
                        </entry>
                        <entry>
                            <key>output_object_path</key>
                            <value>rdm</value>
                        </entry>
                        <entry>
                            <key>path_delimiter</key>
                            <value>/</value>
                        </entry>
                        <entry>
                            <key>file_type_delimiter</key>
                            <value>.</value>
                        </entry>
                        <entry>
                            <key>day</key>
                            <value>/day=</value>
                        </entry>
                    </variables>
                </processGroups>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>General SDS Auto Loader</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>01/12/2023 18:34:25 UTC</timestamp>
</template>
